@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* desktop nav */
* {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.nav-track {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 3%;
}

.nav-track > img {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-bar {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
  padding: 0;
  text-align: right;
  float: right;
  height: 100%;
}

.nav-bar > .nav-wrapper > li {
  list-style-type: none;
}

.nav-wrapper > li > a {
  text-decoration: none;
  color: hsl(229, 31%, 21%);
}

.nav-wrapper > li > a:hover {
  color: hsl(0, 94%, 66%);
}

.nav-button {
  color: white;
  background-color: hsl(0, 94%, 66%);
  border: 1px solid;
  padding: 1% 2% 1% 2%;
  border-radius: 5%;
}

.nav-button:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
  cursor: pointer;
}

.mobile-nav-track {
  display: none;
}

/* mobile nav */
@media (max-width: 426px) {
  .nav-track {
    display: none;
  }

  .mobile-nav-track {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10%;
    height: 100%;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: hsl(229, 31%, 21%, 0.95);
    display: block;
  }

  .mobile-nav > div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }

  .mobile-nav-bar {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
  }

  .mobile-nav-bar > ul {
    padding: 0;
  }
  .mobile-nav-bar > ul > hr {
    opacity: 0.2;
  }

  .mobile-nav-bar > ul > li {
    list-style-type: none;
    padding: 7% 0 7% 0;
  }

  .mobile-nav-bar > ul > li > a {
    color: white;
    text-decoration: none;
  }

  .nav-btn {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    padding: 2% 0 2% 0;
    position: absolute;
    left: 10%;
    background-color: hsl(229, 31%, 21%, 0.2);
    color: white;
    border: 2px solid white;
    font-weight: 500;
    border-radius: 5px;
  }
}

@media (max-width: 1025px) {
  .nav-wrapper {
    width: 50%;
  }
  .nav-wrapper > li {
    padding-right: 10%;
  }

  .container-intro > .blue-line {
    position: absolute;
    top: 25%;
    height: 240px;
    width: 400px;
  }
}

/* desktop intro */
main {
  width: 80%;
  margin: auto;
}
.container-intro {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.hero-image {
  width: 60%;
  position: relative;
  left: 7%;
}

.hero-image > img {
  width: 100%;
}

.intro {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.intro > h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5%;
}

.intro > p {
  color: hsl(229, 8%, 60%);
  margin-bottom: 5%;
}

.intro > button {
  padding: 3% 4% 3% 4%;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: 2px solid;
  margin-right: 4%;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
}

.intro > button:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  cursor: pointer;
  font-weight: 500;
}

.intro > .firefox-btn {
  color: hsl(229, 8%, 60%);
  background-color: hsl(229, 8%, 60%, 0.1);
  border: 2px solid hsl(229, 8%, 60%, 0);
  box-shadow: 0px 8px 8px -4px rgb(73 93 207 / 20%);
}

.intro > .firefox-btn:hover {
  color: hsl(229, 8%, 60%);
  background-color: white;
  border: 2px solid hsl(229, 8%, 60%);
  cursor: pointer;
  font-weight: 500;
}
.blue-line {
  width: 500px;
  height: 330px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 40%;
  right: 0%;
  z-index: -1;
  border-radius: 130px 0 0 130px;
}

/* mobile intro */

@media (max-width: 426px) {
  .container-intro {
    display: block;
    height: 70vh;
  }

  .mobile-nav {
    z-index: 9999;
  }
  .hero-image {
    position: relative;
    bottom: 629px;
    width: 100%;
    left: 0px;
  }

  .intro {
    margin-top: 115%;
    width: 100%;
  }

  .container-intro > .blue-line {
    width: 325px;
    height: 190px;
    position: absolute;
    top: 199px;
  }

  .intro > h1 {
    font-size: 35px;
    text-align: center;
  }

  .intro > p {
    text-align: center;
    line-height: 28px;
  }

  .intro > button {
    width: 45%;
    margin: 0;
    padding: 4% 4% 4% 4%;
    margin-top: 10%;
  }

  .intro > .firefox-btn {
    margin-left: 5%;
  }
}

@media (max-width: 376px) {
  .hero-image {
    position: relative;
    bottom: 620px;
  }

  .container-intro {
    height: 70vh;
  }
  .container-intro > .blue-line {
    position: absolute;
    top: 150px;
    width: 260px;
    height: 180px;
  }

  .intro > h1 {
    font-size: 32px;
  }

  .intro > button {
    font-size: 13px;
  }
}

@media (max-width: 321px) {
  .hero-image {
    position: relative;
    bottom: 540px;
  }
  .container-intro > .blue-line {
    position: absolute;
    top: 160px;
    width: 240px;
    height: 150px;
  }

  .intro > h1 {
    font-size: 27px;
  }
}

/* features */

.features {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 10%;
}

.features > h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5%;
}

.features > p {
  color: hsl(229, 8%, 60%);
  line-height: 25px;
  margin-bottom: 15%;
}

.tab-list {
  text-align: center;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 2% 4% 2% 4%;
  cursor: pointer;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}

.tab-list-item:hover {
  color: hsl(0, 94%, 66%);
}

.tab-list-active {
  background-color: white;
  border-bottom: 3px solid hsl(0, 94%, 66%);
}
.tab-item {
  display: flex;
  margin-top: 7%;
  justify-content: space-between;
}
.tab-item > img {
  width: 40%;
}

.tab-item > div {
  width: 50%;
  align-self: center;
}

.tab-item > div > h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 3%;
}

.tab-item > div > p {
  width: 80%;
  margin-bottom: 5%;
  color: hsl(229, 8%, 60%);
}

.tab-item > div > button {
  padding: 2% 3% 2% 3%;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: 0;
  margin-right: 4%;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  border: 2px solid;
}

.tab-item > div > button:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  cursor: pointer;
  font-weight: 500;
}

.left-blue-line {
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  top: 1200px;
  left: 0%;
  width: 580px;
  height: 300px;
  z-index: -1;
  border-radius: 0 130px 130px 0;
}

/* dekstop features */

@media (max-width: 1025px) {
  .left-blue-line {
    width: 400px;
    height: 210px;
    position: absolute;
    top: 920px;
  }
}

/* mobile features */

@media (max-width: 426px) {
  .features {
    width: 100%;
  }

  .tab-list-item {
    display: block;
    padding: 5%;
  }

  .tab-item {
    display: block;
    margin-top: 25%;
  }

  .tab-item > img {
    width: 100%;
    margin-bottom: 20%;
  }

  .tab-item > div {
    width: 100%;
    text-align: center;
  }

  .tab-item > div > p {
    width: 100%;
    margin-top: 8%;
  }

  .tab-item > div > button {
    width: 40%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .left-blue-line {
    width: 325px;
    height: 210px;
    position: absolute;
    top: 1460px;
  }
}

@media (max-width: 376px) {
  .left-blue-line {
    width: 290px;
    height: 180px;
    position: absolute;
    top: 1380px;
  }
}

@media (max-width: 321px) {
  .left-blue-line {
    width: 260px;
    height: 170px;
    position: absolute;
    top: 1290px;
  }
}

/* extensions */

.extensions {
  margin-top: 18%;
}

.extensions > h2 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 2%;
}

.extensions > p {
  color: hsl(229, 8%, 60%);
  text-align: center;
  width: 45%;
  margin: auto;
  line-height: 25px;
  margin-bottom: 10%;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 10%;
  height: auto;
}

.browser {
  box-shadow: 0px 10px 20px -5px rgb(73 93 207 / 20%);
  width: 30%;
  padding-top: 4%;
  padding-bottom: 3%;
  border-radius: 15px;
  height: auto;
}

.browser:nth-of-type(1) {
  margin-bottom: 10%;
}

.browser:nth-of-type(2) {
  margin-top: 5%;
  margin-bottom: 5%;
}

.browser:nth-of-type(3) {
  margin-top: 10%;
}

.browser > img:nth-last-of-type(1) {
  width: 100%;
  margin-top: 13%;
  margin-bottom: 6%;
}

.browser > h4 {
  font-size: 23px;
  font-weight: 500;
  margin-top: 9%;
  margin-bottom: 3%;
}

.browser > span {
  color: hsl(229, 8%, 60%);
}

.browser > button {
  width: 80%;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: 2px solid;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 1%;
}

.browser > button:hover {
  color: hsl(231, 69%, 60%);
  background-color: white;
  border: 2px solid hsl(231, 69%, 60%);
}

/* extensions mobile  */

@media (max-width: 426px) {
  .extensions > h2 {
    font-size: 29px;
    margin-top: 40%;
  }
  .extensions > p {
    width: 100%;
    margin-top: 8%;
  }

  .flex-items {
    display: block;
    width: 100%;
  }

  .browser {
    width: 100%;
  }
}

/* faq container */

.faq-container > h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3%;
}

.faq-container > p {
  width: 44%;
  margin: auto;
  text-align: center;
  line-height: 25px;
  color: hsl(229, 8%, 60%);
  margin-bottom: 5%;
}

.faqs {
  width: 50%;
  margin: auto;
}

.faqs .faq {
  border-top: 1px solid hsl(229, 8%, 60%, 0.4);
  padding-top: 3%;
  padding-bottom: 3%;
}

.faqs .faq:nth-of-type(4) {
  border-bottom: 1px solid hsl(229, 8%, 60%, 0.4);
}

.faqs .faq .faq-question {
  padding-right: 1.5rem;
  position: relative;
  line-height: 1.2;
  margin: 1% 0;
}

.faqs .faq .faq-question:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
}

.faqs .faq.open .faq-question {
  margin-bottom: 35px;
}

.faqs .faq .faq-question::after {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1.5rem;
  display: block;
  background-image: url(./images/icon-arrow.svg);
  content: "";
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
  margin-right: 4%;
}

.open .faq-question::after {
  transform: rotate(180deg);
  filter: invert(51%) sepia(26%) saturate(6764%) hue-rotate(330deg)
    brightness(105%) contrast(98%);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
  color: hsl(229, 8%, 60%);
  line-height: 35px;
}

.faq-container > button {
  padding: 1% 2% 1% 2%;
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: 0;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  border: 2px solid;

  display: block;
  margin: 5% auto;
}

.faq-container > button:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
  cursor: pointer;
  font-weight: 500;
}

/* FAQ mobile */

@media (max-width: 426px) {
  .faq-container {
    margin-top: 40%;
  }

  .faq-container > p {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .faqs {
    width: 100%;
  }

  .faqs .faq {
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .faqs .faq:nth-of-type(1) {
    border: 0px;
  }

  .faq-container > button {
    padding: 4% 7% 4% 7%;
    margin-top: 15%;
  }
}

/* footer */

footer {
  background-color: hsl(231, 69%, 60%);
  margin-top: 10%;
}

.contact {
  text-align: center;
  padding-top: 5%;
  color: white;
}

.contact > span {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 5px;
}

.contact > h1 {
  font-size: 30px;
  width: 30%;
  margin: 3% auto 2%;
  font-weight: 500;
}

.contact > form > input {
  padding: 0.8%;
  border-radius: 5px;
  border: 0;
  width: 20%;
}
